h1 {
    color: red;
    transition-timing-function: linear;
    transition-duration: 1s;
}

h1:hover {
    color: green;
}

p {
    transition: 2s linear;
    /* transition-timing-function: linear; */
}

p:active {
    transform: rotate(720deg);
}